<!-- templates/sucursal.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despachante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;"><strong>Sistema LogiPack: Sucursal</strong></h2>
    <p style="text-align: center;">Elija una sucursal para gestionar:</p>

    <!--formulario para seleccionar la sucursal actual -->
    <form method="POST" action="/sucursal">
        <label for="sucursal">Selecciona una sucursal:</label>
        <select id="sucursal" name="sucursal">
            {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}">{{ sucursal.numero }} - {{ sucursal.provincia }} - {{ sucursal.localidad }}</option>
            {% endfor %}
        </select>
        <div class="small-space"></div>
        <button type="submit">Continuar</button>
    </form>
    <footer>
        <p>© 2024 LogiPack® Logística SRL. Todos los derechos reservados. Hecho por: Sabino Pignatari</p>
    </footer>
</body>
</html>