<!-- templates/despachante.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despachante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;"><strong>Sistema LogiPack: Gestión</strong></h2>
    <p style="text-align: center;">Elija una opción a gestionar:</p>
    <form>
        <!-- <input type="hidden" name="idsucursal" value="{{ sucursal }}"> -->
        {% block content %}
        <button type="button" onclick="window.location.href='/registrar_paquete'">1. Registrar ingreso de paquetes</button>
        <div class="small-space"></div>
        <button type="button" onclick="window.location.href='/sucursal_salida'">2. Registrar salida de transporte</button>
        <div class="small-space"></div>
        <button type="button" onclick="window.location.href='/transporte_llegada'">3. Registrar llegada de transporte</button>
        <div class="small-space"></div>
        <button type="button" onclick="window.location.href='/'">Home</button>
        {% endblock %}
    </form>
    <footer>
        <p>© 2024 LogiPack® Logística SRL. Todos los derechos reservados. Hecho por: Sabino Pignatari</p>
    </footer>
</body>
</html>

